affinegap==1.12
BTrees==5.2
categorical-distance==1.9
cffi==1.16.0
chardet==5.1.0
colorama==0.4.6
csvmatch==1.24
datetime-distance==0.1.3
dedupe==2.0.21
dedupe-Levenshtein-search==1.4.5
dedupe-variable-datetime==0.1.5
DoubleMetaphone==1.1
future==1.0.0
fuzzy-pandas==0.1
haversine==2.8.1
highered==0.2.1
jellyfish==0.9.0
joblib==1.3.2
numpy==1.26.4
pandas==2.2.1
persistent==5.2
pycparser==2.21
pyhacrf-datamade==0.2.7
PyLBFGS==0.2.0.15
python-dateutil==2.9.0.post0
pytz==2024.1
scikit-learn==1.4.1.post1
scipy==1.12.0
simplecosine==1.2
six==1.16.0
threadpoolctl==3.3.0
tqdm==4.64.1
typing_extensions==4.10.0
tzdata==2024.1
Unidecode==1.3.6
zope.index==6.1
zope.interface==6.2
